body {
   background-color: lightblue;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #255;
}
.header h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Sans-serif", Arial;
}
.resume {
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 4px;
}
.pic {
    margin: auto;
}
.pic img {
    width: 40%;
}
.center {
    text-align: center;
    text-decoration: underline;
}
.foot {
    list-style-type: none;
    text-align: center;
    padding: 4px;
}