body {
   background-color: lightblue;
}
.navbar {
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    display: inline;
}
.navbar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #255;
}
.header h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Sans-serif", Arial;
}
.resume {
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    padding: 4px;
    font-family: 'Fira Sans', sans-serif;
}
.pic {
    margin: auto;
}
.pic img {
    width: 40%;
}
.foot {
    list-style-type: none;
    text-align: center;
    padding: 4px;
    padding-top: 10px;
}
.paragraph {
    background-color: white;
    color: black;
    padding: 4px;
    width: 80%;
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
}
.social {
    text-align: center;
}
.social table{
    text-align: center;
    margin: auto;
}