
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px
}
.navbar li a:hover {
    background-color: #255;
}
.header h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Sans-serif";
}
