* {
    margin: auto;
    width: 80%;
}
.navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar li {
    float: left;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #255;
}
.header h1 {
    text-align: center;
    text-decoration: underline;
    font-family: "Sans-serif", Arial;
}

